# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
*.pid

# Env files
.env
.env.*

# Coverage
htmlcov/
.coverage
.tox/

# Flower
flower.log 